body {
  font-family: "Courier New", Courier, monospace;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}


.memtrc {
    display:block;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
}

.memt {
    width : 100%;
    table-layout : fixed;
}

.memth {
    width: 100%;
    table-layout : fixed;
}
